.carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  

  @media (min-width: 768px) {
      .carousel-item {
          margin-right: 0;
          flex: 0 0 33.333333%;
          display: block;
        }
        
        .carousel-inner {
            display: flex;
          }
}